@media screen {
  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  header {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header > h3 {
    font-size: 24px;
    text-align: center;
    text-shadow: 8px 5px 6px rgba(0, 0, 0, 0.5);
  }

  body {
    background-color: #080710;
  }

  .card {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 65px;
    margin-top: 35px;
  }

  .main {
    flex: 60%;
    text-align: center;
  }
  .info {
    flex: 45%;
    text-align: center;
  }

  @media (max-width: 968px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .main,
    .info {
      flex: 100%;
    }
  }
  * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }

  table {
    background-color: none;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  thead {
    background-color: #923726;
  }
  tr {
    border-bottom: 1px solid #efd9ce98;
    height: 30px;
  }
  th {
    border: 1px solid rgba(255, 101, 101, 0.1);
  }

  table,
  td {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  button {
    background-color: rgba(255, 255, 255, 0.13);
    color: whitesmoke;
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
  }

  button:hover {
    background-color: #923726;
  }

  p {
    font-size: 14px;
  }

  h5 {
    margin: 10px;
  }

  .search-bar input {
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.755);
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 17px;
    width: 50%;
    color: #080710;
    font-size: 13px;
  }

  .search-bar button {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .pm {
    border: 4px dashed rgba(255, 255, 255, 0.1);
    margin: 20px;
    padding: 15px;
  }

  .pm thead {
    background-color: rgba(255, 255, 255, 0.13);
  }

  .pmbtn {
    margin-top: 15px;
    width: 35%;
    background-color: #ffffffcc;
    color: #080710;
    padding: 12px 0;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
  }

  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Glass blur effect */
    display: none;
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 55px;
  }

  ol {
    margin: 20px;
    font-size: 14px;
  }
}
